@media (max-width: 350px) {
  .loginImg {
    max-width: 350px !important;
    background-size: cover;
  }
}

.hideMe {
  display: none;
}

#google_stuff {
  padding-left: 25px;
}

.contactName {
  font-size: 35px;
}

/*.LoginImg {
  width: 100%;
  background-image: url('./n_Fotor.jpg');
  background-size: cover;
}*/

/*.Login {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
}*/

.star {
  position: relative;
  top: 6px;
  font-size: 30px;
}

.conIcon {
  position: relative;
  top: 6px;
  padding-right: 13px;
}

.companyDisplay {
  position: relative;
  top: 6px;
  padding-right: 15px;
}

.googleButton {
  background-color: #5D576B;
  color: #F1F1EF;
  border-radius: 1px;
  border-style: none;
  margin-right: 10px;
}

.googleButton:hover {
  background-color: #6d6779;
}

.onePaper {
  color: white;
}

.form_header {
  font-size: 25px;
  color: #5D576B;
}

.formDate {
  color: #5D576B;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F1F1EF;

}

.nameLine {
  display: block;
}

.Link {
  text-decoration: none;
}

.Link:hover {
  color: #FFFF00;
}

.Link:visited {
  color: white;
  text-decoration-style: solid;
}

.DoneButton {
  position: relative;
  bottom: 0;
}
