.onePaper {
  color: white;
}

.form_header {
  font-size: 25px;
  color: #5D576B;
}

.formDate {
  color: #5D576B;
}

.Login {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F1F1EF;

}

.nameLine {
  display: block;
}

.Link {
  text-decoration: none;
}

.Link:hover {
  color: #FFFF00;
}

.Link:visited {
  color: white;
  text-decoration-style: solid;
}
